<!DOCTYPE html>  
<html>  
<head>  
    <title>List</title>  
</head>  
<body>  
  
<h3>Member Information</h3>  
<table border=5>  
    <thead>  
        <td>ID</td>  
        <td>First Name</td>
        <td>Last Name</td>   
        <td>Email</td>
        <td>Age</td>   
        <td>Address</td>  
    </thead>  
      
    {% for row in rows %}  
      
        <tr>  
            <td>{{row["id"]}}</td>  
            <td>{{row["firstname"]}}</td> 
            <td>{{row["lastname"]}}</td>  
            <td>{{row["email"]}}</td>  
            <td>{{row["age"]}}</td> 
            <td>{{row["address"]}}</td>  
        </tr>  
      
    {% endfor %}  
</table>  
<br><br>  
  
<a href="/">Go back to home page</a>  
  
</body>  
</html>  